<article class="grid gap-10">
    <header class="flex justify-between items-center">
        <p class="font-medium text-5xl mb-1">My projects</p>
        <nav class="">
            <div>

            </div>
            <button (click)="this.openNewProject('0ms', '0ms')" class="bg-[#E22C79]/20 border border-[#E22C79]/15 rounded-md px-4 py-1">
                
                <p class="text-xl font-semibold mb-1">New project</p></button>
        </nav>
    </header>
    <div>
        <app-project-dashboard></app-project-dashboard>
    </div>
</article>