<div class="w-full">
    <header class="flex bg-[#1F1F1F]/50 justify-center h-auto w-full px-4 py-2 absolute z-10 top-0">
        <div class="flex items-center gap-2 w-full sm:w-[60%]">
            <div class="bg-[#E91979] rounded-full w-14 h-14 flex items-center justify-center">
              <p class="text-white text-3xl font-semibold mb-1">a</p>
            </div>
            <p class="text-[#E91979] text-3xl font-semibold mb-1">Atmira</p>
        </div>
        <div class="flex items-center gap-4">
            <button class="px-3 py-[.30rem] bg-[#E91979] border-[#E22C79]/15 rounded-md text-white ">Log in</button>
            <button class="px-3 py-[.30rem] bg-[#707070] rounded-md text-white ">Sign Up</button>
        </div>
    </header>
    <div class="relative z-0">
        <div class="absolute top-1/2 left-1/2 -translate-x-2/4 -translate-y-2/4 z-10 grid justify-items-center gap-5">
            <div class="relative text-white h-auto min-w-fit rounded-lg border border-white ">
                <div class="p-3 max-w-72 text-center" >
                    <p class="text-5xl ">Power your 
                        Developments</p>
                </div>
                <div class="blur bg-[#434343]/50 w-full h-full -z-10 top-0 left-0 absolute rounded-lg"></div>
            </div>
            <button class=" bg-[#1F1F1F] border border-[#ACACAC]/70 rounded-full text-white w-fit text-pretty text-3xl py-2 px-10"><p>Start Now</p></button>
            <div class="relative text-white h-auto min-w-fit rounded-lg border border-white ">
                <div class="p-3 max-w-7xl text-center">
                    <p class="text-5xl ">Create a development plan for your projects and manage the resources of your projects</p>
                </div>  
                <div class="blur bg-[#434343]/50 w-full h-full -z-10 top-0 left-0 absolute rounded-lg"></div>
            </div>
        </div>
        <video src="../../../assets/video/website_evolution-HD-1080p.mp4" muted autoplay loop class="object-cover cover-fill max-h-screen w-full overflow-hidden min-h-screen"></video>
    </div>
    sadfd
</div>