::ng-deep .mat-mdc-table{
    @apply shadow rounded-t-md overflow-hidden;
}

::ng-deep .mat-mdc-paginator{
    @apply shadow rounded-b-md overflow-hidden;
}

td{
    font-family: 'EB Garamond', serif;
    color: #172B4D;
    font-size: larger;
    font-weight: 500;
}
::ng-deep .mat-sort-header-content{
    color: #172B4D;
    font-family: 'EB Garamond', serif;
    font-weight: 700;
    font-size: large;
}