p{
    font-family: 'EB Garamond', serif;
}

.active::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    background-color: #E91979;
}


.cdk-overlay-0 > div{
    background-color: red!important;
}