@if (this.dataSource) {
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 ">
        <!-- Position Column -->
        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
            Estado
            </th>
            <td class="" mat-cell *matCellDef="let element"> 
                @if (element.state == null) {
                    <span class="flex justify-center">
                        <div class="w-6 h-6 rounded-full bg-yellow-300"></div>
                    </span>
                }@else if (element.state) {
                    <span class="flex justify-center">
                        <div class="w-6 h-6 rounded-full bg-green-500"></div>
                    </span>
                }@else {
                    <span class="flex justify-center">
                        <div class="w-6 h-6 rounded-full bg-red-600"></div>
                    </span>
                }
            </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="colaborador">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
            Colaborador
            </th>
            <td mat-cell *matCellDef="let element"> {{element.colaborator.id_alias}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
            Descripción
            </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="coste">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
            Coste
            </th>
            <td mat-cell *matCellDef="let element"> {{element.cost | currency:'EUR':'symbol':'1.2-2'}} </td>
        </ng-container>
        
        <!-- Name Column -->
        <ng-container matColumnDef="fechaCreacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
            Fecha creación
            </th>
            <td mat-cell *matCellDef="let element"> {{element.createdDate | date: 'dd/MM/yyyy'}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="tipoGasto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
            Tipo gasto
            </th>
        <td mat-cell *matCellDef="let element"> {{element.typeExpensive | titlecase}} </td>
        </ng-container>
        @if (this.displayedColumns.includes('reintegro')) {
            <ng-container matColumnDef="reintegro">
                <th mat-header-cell *matHeaderCellDef ></th>
                <td mat-cell *matCellDef="let element">
                    @if (element.state == null) {
                        <span class="flex gap-2">
                            <button (click)="element.state=true;updateExpensesState(element)" class="bg-green-500/70 border border-green-500/90 rounded-md px-2 py-1">
                                <p class="text-base font-semibold mb-1 text-white">Aprobar</p>
                            </button>
                            <button (click)="element.state=false;updateExpensesState(element)" class="bg-red-600/70 border border-red-600/90 rounded-md px-2 py-1">
                                <p class="text-base font-semibold mb-1">Denegar</p>
                            </button>
                        </span>
                    }
                </td>
            </ng-container>
        }@else if(this.displayedColumns.includes('project')) {
            <ng-container matColumnDef="project">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                    Proyecto
                    </th>
                    <td mat-cell *matCellDef="let element"> 
                        <p (click)="navigateToProject(element)">{{element.project.name}}</p>    
                    </td>
            </ng-container>
        }
        

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="cursor-pointer" mat-row *matRowDef="let row; columns: displayedColumns" ></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                    showFirstLastButtons
                    aria-label="Select page of periodic elements">
    </mat-paginator>
}