<article class="p-5 h-auto w-auto flex flex-col gap-3">
    <header class="flex justify-between">
      <h1 class="font-semibold text-lg text-[#172B4D]/90">Configuration</h1>
      <button (click)="dialogRef.close()" type="button" class="absolute border-none top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-400 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-400/50 dark:hover:text-red-500" data-modal-hide="popup-modal">
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
    </header>
    <hr>
  
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <section class="w-full grid grid-cols-2 gap-2">
        <h3 class="font-medium text-lg text-[#172B4D]/90" style="font-size: 1.5rem;">System</h3>
        <div></div>
        
        <div class="flex items-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-globe">
            <circle stroke="#2e405e" cx="12" cy="12" r="10"/>
            <path stroke="#2e405e" d="M12 2a14.5 14.5 0 0 0 0 20 14.5 14.5 0 0 0 0-20"/>
            <path stroke="#2e405e" d="M2 12h20"/>
          </svg>
          <p class="text-[#172B4D]/90 text-[1.25rem]">Language</p>
        </div>
        <div>
          <mat-form-field>
            <mat-label><p class="text-[#A8587B]">Select any Language...</p></mat-label>
            <mat-select formControlName="language">
              @for (language of this.languages; track language) {
                <mat-option [value]="language">{{language}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
  
        <div class="flex items-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-globe">
            <circle stroke="#2e405e" cx="12" cy="12" r="10"/>
            <path stroke="#2e405e" d="M12 2a14.5 14.5 0 0 0 0 20 14.5 14.5 0 0 0 0-20"/>
            <path stroke="#2e405e" d="M2 12h20"/>
          </svg>
          <p class="text-[#172B4D]/90 text-[1.25rem]">WorkPlace</p>
        </div>
        <div class="flex items-center gap-2">
          <mat-form-field>
            <mat-label><p class="text-[#A8587B]">Nombre del Trabajo</p></mat-label>
            <input matInput formControlName="workPlace" placeholder="Introduce el nombre de tu trabajo">
          </mat-form-field>
        </div>
  
        <div class="flex items-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-globe">
            <circle stroke="#2e405e" cx="12" cy="12" r="10"/>
            <path stroke="#2e405e" d="M12 2a14.5 14.5 0 0 0 0 20 14.5 14.5 0 0 0 0-20"/>
            <path stroke="#2e405e" d="M2 12h20"/>
          </svg>
          <p class="text-[#172B4D]/90 text-[1.25rem]">Department</p>
        </div>
        <div class="flex items-center gap-2">
          <mat-form-field>
            <mat-label><p class="text-[#A8587B]">Nombre del Departamento</p></mat-label>
            <input matInput formControlName="department" placeholder="Introduce el nombre de tu departamento">
          </mat-form-field>
        </div>
      </section>
      <div class="flex justify-end gap-2 mt-4">
        <button type="submit" class="bg-[#E22C79]/20 border border-[#E22C79]/15 rounded-md px-4 py-1">
          <p class="text-xl font-semibold text-white mb-1">Guardar</p></button>
      </div>
    </form>
  </article>
