
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$FCT_Atmira-primary: mat.define-palette(mat.$indigo-palette);
$FCT_Atmira-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$FCT_Atmira-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$FCT_Atmira-theme: mat.define-light-theme((
  color: (
    primary: $FCT_Atmira-primary,
    accent: $FCT_Atmira-accent,
    warn: $FCT_Atmira-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($FCT_Atmira-theme);




/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cdk-overlay-pane > div{
  @apply max-w-48 shadow-xl rounded-md;
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1)!important;
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color)!important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)!important;
  .modal-text-wrap{
    p{
      @apply p-0 px-2 overflow-hidden overflow-ellipsis;
      font-family: 'EB Garamond', serif;
    }
    @apply text-nowrap overflow-hidden;
  }
  button{
    @apply p-0 px-2;
    span{
      text-wrap: nowrap!important;
      @apply p-0 px-2 overflow-hidden overflow-ellipsis font-semibold text-[#707070];
      font-family: 'EB Garamond', serif;
    }
  }
  .mat-mdc-menu-content{
    @apply p-0;
  }
}